<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>在线url网址编码、解码-在线工具</title>
    <meta name="keywords" content="URL编码解码,UrlEncode编码,UrlDecode解码,encodeURI编码,encodeURIComponent编码">
    <meta name="description" content="在线URL编码解码工具：对网址Url进行UrlEncode编码转换,UrlEncode编码,UrlDecode解码,方便开发人员进行操作">

    <link rel="stylesheet" href="/static/layui/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui/common.css" media="all">
    <style type="text/css">
        {% include "components/common.css" %}
        {% include "components/code.css" %}

        .layui-nav li.layui-nav-item > dl {
            display: none;
        }

        .layui-nav li.layui-nav-item:hover::after {
            content: '';
            top: auto;
            bottom: 0;
            width: 100%;
            height: 5px;
            position: absolute;
            background-color: #5FB878;
            -webkit-transition: all .2s;

        }

        @media all and (max-width: 500px) {
            .layui-nav {
                padding: 0;
            }
        }

        .layui-nav li.layui-nav-item:hover > dl {
            display: block;
        }

        .layui-nav-child {
            top: 60px;
        }
    </style>
    {#      <link id="layuicss-laydate" rel="stylesheet" href="/static/layui/laydate.css" media="all">#}
    {#    <link id="layuicss-layer" rel="stylesheet" href="/static/layui/layer.css" media="all">#}
  {% include "innerHeader.html" %}
</head>
<body>
{% include "tools/snippet/header.html" %}

<div class="es-content" id="app">
    <div class="layui-container layui-anim ">
        <div class="layui-row ">
            <div class="layui-hide-xs layui-col-md12 cur-site">
                <span class="layui-breadcrumb " lay-separator="&gt;" style="visibility: visible;">
                  <a href="/">首页</a><span lay-separator="">&gt;</span>
                  <a href="javascript:void(0);"><cite>URL编码/URL解码</cite></a>
                </span>
                <hr class="layui-h layui-bg-black">
            </div>
        </div>
        <div class="layui-row biz-json">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" overflow="">
                {% include "tools/encode/encodeTab.html" %}
                <div class="layui-tab-content">
                    <form class="layui-form" action="#">
                        <div class="layui-col-md12">
                            <div class="layui-form-item layui-form-text">
                                <textarea v-model="value" placeholder="请输入要转换的内容" class="layui-textarea"
                                          style="min-height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="layui-col-md12 layui-btn-group">
                            <div class="layui-form-item layui-form-text">
                                <button type="button" @click="urlEncode" class="layui-btn">URL编码</button>
                                <button type="button" @click="urlDncode" class="layui-btn">URL解码</button>
                                <button type="button" @click="clear" class="layui-btn  layui-btn-primary">
                                    <i class="layui-icon layui-icon-delete"></i>清除
                                </button>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label-col" for="targetText">encodeURI编码,不会对特殊符号编码</label>
                                <textarea :value="result1" placeholder="转换结果" class="layui-textarea"
                                          style="min-height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="layui-col-md12">
                            <div id="res2" class="layui-form-item layui-form-text">
                                <label class="layui-form-label-col"
                                       for="targetText2">encodeURIComponent编码方式,会对特殊符号编码</label>
                                <textarea id="result2" :value="result2" placeholder="转换结果" class="layui-textarea"
                                          style="min-height: 100px"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12 ">
                <blockquote class="layui-elem-quote es-tool-desc"><i class="layui-icon layui-icon-util"></i> 工具简介
                </blockquote>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <h2 style="color:#009688">在线url网址编码、解码</h2><br>
                        <p>1. 对Url进行编码后可以将一些特殊字符和汉字变为Encode编码格式</p>
                        <p>2. encodeURI方法不会对下列字符编码 ASCII字母、数字、~!@#$&amp;*()=:/,;?+'</p>
                        <p>3. encodeURIComponent方法不会对下列字符编码 ASCII字母、数字、~!*()'</p>
                        <p>4. encodeURIComponent编码的范围更广，会将http://XXX中的//也编码，会导致URL不可用。</p>
                        <p>5. 一般来说,我们使用encodeURIComponent()方法的时候要比使用encodeURI()更多,因为在实践中更常见的是对查询字符串参数而不是对基础URL进行编码。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "footer.html" %}
<script src="/static/js/vue.global.prod.js"></script>
<ul class="layui-fixbar" style="right: 50px; bottom: 100px;">
    <li class="layui-icon" lay-type="bar1" style="background-color:#393D49"></li>
    <li class="layui-icon layui-fixbar-top" lay-type="top" style="background-color: rgb(57, 61, 73); display: none;">
    </li>
</ul>


<script src="/static/other/jquery.js"></script>
<script>
    const HelloVueApp = {
        data() {
            return {
                value: "",
                result1: "",
                result2: "",
                morebar: false,
                tabIndex: 1  // tab 索引
            };
        },
        methods: {
            urlEncode() {
                const {encodeURI, encodeURIComponent} = CoreTool.urlEncode(this.value)
                this.result1 = encodeURI
                this.result2 = encodeURIComponent
                document.getElementById("result2").focus()
            },
            urlDncode() {
                const {encodeURI, encodeURIComponent} = CoreTool.urlDecode(this.value)
                this.result1 = encodeURI
                this.result2 = encodeURIComponent
                document.getElementById("result2").focus()
            },
            clear() {
                this.value = ""
                this.result1 = ""
                this.result2 = ""
            }

        }
    };
    Vue.createApp(HelloVueApp).mount("#app");
</script>
</body>
</html>