<header>
    <div class="top_head" id="top_mt" style="text-align: center">
        {#        <h2 class="top_logo"><a href="/"></a></h2>#}
        <span class="top_ane"><a href="/fs/zhugeshenshu.html">算命大全</a></span>
        <a class="top_more" href="/"></a>
    </div>
    <div class="top_nav">
        <ul>
            <li class=""><a href="/">首页</a></li>
            <li class=""><a href="/fs/zhugeshenshu.html">诸葛神数</a></li>
            {#            <li class=""><a href="/fs/tuibeitu.html">推背图</a></li>#}
            <li class=""><a href="/fs/yijing64.html">六十四卦</a></li>
            <li class=""><a href="/fs/game.html">占卜一卦</a></li>
            {#            <li class=""><a href="https://m.zhouyi.cc/fengshui/">风水</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/shengxiao/">生肖</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/xiangshu/">相术</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/bazi/">八字</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/xingming/">姓名</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/zhouyi/" class="top_cur">周易</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/jiemeng/">解梦</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/xingzuo/">星座</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/xuexing/">血型</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/kaiyun/">开运</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/ziwei/">紫微</a></li>#}
            {#            <li class=""><a href="https://m.zhouyi.cc/taluopai/">塔罗</a></li>#}
            {#            <li><a href="https://m.zhouyi.cc/lingqian/">灵签</a></li>#}
            {#            <li><a href="https://m.zhouyi.cc/huangli/">黄历</a></li>#}
            {#            <li><a href="https://m.zhouyi.cc/sitemap.html" class="blue" title="更多">更多</a></li>#}
        </ul>
    </div>
</header>