<header class="es-header">
    <nav>
        <div class="layui-container es-nav-container">
            <ul class="layui-nav">
                <li class="layui-nav-item">
                    <a href="/">首页</a>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">编码转换<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a href="/tools/urlEncode.html">URL编码解码</a></dd>
                        <dd><a href="/tools/unicodeEncode.html">Unicode编码/解码</a></dd>
                        <dd><a href="/tools/utf8Encode.html">UTF-8编码/解码</a></dd>
                        {#  <dd><a href="/unixtimeConvert.html">Unix时间戳转换</a></dd>#}
                        <dd><a href="/tools/asciiEncode.html">Ascii/Native编码互转</a></dd>
                        <dd><a href="/tools/enCaseEncode.html">英文字母大小写转换</a></dd>
                        {#   <dd><a href="/iptoint.html">IP转数字</a></dd>#}
                        {#   <dd><a href="/topingyin.html">中文转拼音</a></dd>#}
                        {#   <dd><a href="/jianfanti.html">中文简繁体在线转换</a></dd>#}
                        {#   <dd><a href="/rmbDaXie.html">人民币数字大小写转换</a></dd>#}
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">加密解密<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/tools/aesEncrypt.html">AES加密解密</a></dd>
                        <dd><a href="/tools/desEncrypt.html">DES加密解密</a></dd>
                        <dd><a href="/tools/rc4Encrypt.html">RC4加密解密</a></dd>
                        <dd><a href="/tools/rabbitEncrypt.html">Rabbit加密解密</a></dd>
                        {#   <dd><a href="/tripleDesEncrypt.html">TripleDes加密解密</a></dd>#}
                        <dd><a href="/tools/md5Encrypt.html">MD5加密</a></dd>
                        {#   <dd><a href="/urlEncrypt.html">URL16进制加密</a></dd>#}
                        {#   <dd><a href="/jsEncrypt.html">JS加解密</a></dd>#}
                        {#                        <dd><a href="/tools/jsformat.html">JS混淆加密</a></dd>#}
                        {#   <dd><a href="/jsGarbleNotDecrypt.html">JS混淆（不可逆）</a></dd>#}
                        <dd><a href="/tools/base64Encrypt.html">Base64加密解密</a></dd>
                        {#   <dd><a href="/escapeEncrypt.html">Escape加密解密</a></dd>#}
                        {#   <dd><a href="/hashEncrypt.html">散列/哈希</a></dd>#}
                        {#   <dd><a href="/morseEncrypt.html">摩斯密码加密解密</a></dd>#}
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">压缩/格式化<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/tools/jsformat.html">js压缩/格式化</a></dd>
                        <dd><a href="/tools/cssformat.html">css压缩/格式化</a></dd>
                        <dd><a href="/tools/htmlformat.html">html压缩/格式化</a></dd>
                        <dd><a href="/tools/xmlformat.html">xml压缩/格式化</a></dd>
                        <dd><a href="/tools/sqlformat.html">SQL压缩/美化</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">文本工具<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/tools/uniqueText.html">在线行文本去重</a></dd>
                        <dd><a href="/tools/countText.html">不同单词计数</a></dd>
                        <dd><a href="/tools/hexconvert.html">进制转换</a></dd>
                        {#                        <dd><a href="/tools/colEditor">列编辑</a></dd>#}
                        {#     <dd><a href="/textDiff.html">文本在线比对</a></dd>#}
                        {#     <dd><a href="/wordCount.html">字数在线统计</a></dd>#}
                        {#     <dd><a href="/textReplace.html">文本在线替换</a></dd>#}
                        {#     <dd><a href="/delSpace.html">文本去除空格</a></dd>#}
                        {#     <dd><a href="/textReverse.html">文本字符串倒序</a></dd>#}
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">图片/视频工具<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/tools/koutu.html">背景消除</a></dd>
                        <dd><a href="/tools/imgfmt.html">图片格式转换</a></dd>
                        <dd><a href="/tools/imgcompress.html">图片压缩</a></dd>
                        <dd><a href="/tools/imgwater.html">图片添加水印</a></dd>
                        <dd><a href="/tools/water/video.html">视频除水印</a></dd>
                        <dd><a href="/tools/imgWaterRemove.html">图片除水印</a></dd>
                        <dd><a href="/editor">图片拼图</a></dd>
                        <dd><a href="/tools/screen-record.html">在线录屏</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">二维码<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/tools/barcode.html">条形二维码</a></dd>
                        <dd><a href="/tools/qrcode.html">二维码</a></dd>
                    </dl>
                </li>
                {#                <li class="layui-nav-item ">#}
                {#                    <a href="javascript:void(0)">站长工具<span class="layui-nav-more"></span></a>#}
                {#                    <dl class="layui-nav-child">#}
                {#                        <dd><a href="/tools/sitemapGen.html">sitemap生成器</a></dd>#}
                {#                        <dd><a href="/tools/sitescan.html">SEO 优化扫描器</a></dd>#}
                {#                    </dl>#}
                {#                </li>#}
                <li class="layui-nav-item ">
                    <a href="javascript:void(0)">其他<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="/tools/hexconvert.html">进制转换</a></dd>
                        <dd><a href="/tools/miaobiao.html">秒表</a></dd>
                        <dd><a href="/tools/timestamp.html">时间戳</a></dd>
                        <dd><a href="/fs/zhugeshenshu.html">诸葛神数</a></dd>
                        <dd><a href="/fs/yijing64.html">易经64卦</a></dd>
                        <dd><a href="/fs/game.html">我要占卜</a></dd>
                        <dd><a href="/tools/web_nav.html">网址导航</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </nav>
    <!--樱花特效在线引入-->
</header>
