<footer class="top_20">
    <div>
        <ul>
            {#            <li>#}
            {#                <a href="#" target="_blank"#}
            {#                >关于我们</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a href="#" target="_blank"#}
            {#                >广告服务</a>#}
            {#            </li>#}
            <li>
                <a href="https://ztf.net.cn/tools/jsonformat.html" target="_blank"
                >工具箱</a>
            </li>
            <li>
                <a href="https://ztf.net.cn/t" target="_blank"
                >网站模版</a>
            </li>
            <li>
                <a href="https://ztf.net.cn/sitemap.xml" target="_blank">网站地图</a>
            </li>
            <li>
                <a href="https://support.qq.com/product/379024" target="_blank">反馈论坛</a>
            </li>
            <li>
                <a href="#" target="_blank">电话：13297039770</a>
            </li>
        </ul>
    </div>
    <p class="copyright">
        Copyright ©2021. All rights reserved
        <a
                class="beian"
                target="_blank"
                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011502005443"
        >
            京公网安备 11011502005443号
        </a>
        <a href="https://beian.miit.gov.cn/" target="_blank"
        >京ICP备2021041179号-1</a>
    </p>
</footer>
<a href="#" title="返回顶部" class="icon-top"></a>
<!--樱花特效在线引入-->
{#<script src="/static/js/sakura.js"></script>#}