<script id="LA_COLLECT" type="text/javascript" charset="UTF-8" src="/static/js/51la.js" crossorigin="anonymous"></script>
<link REL="SHORTCUT ICON" href="/static/favicon.ico"/>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6737982781013841"
     crossorigin="anonymous"></script>
{#<meta name="referrer" content="strict-origin-when-cross-origin">#}
{#<script>#}
{#    var _hmt = _hmt || [];#}
{#    (function () {#}
{#        var hm = document.createElement("script");#}
{#        hm.src = "https://hm.baidu.com/hm.js?f891f1391956890fae6650d69697a10a";#}
{#        var s = document.getElementsByTagName("script")[0];#}
{#        s.parentNode.insertBefore(hm, s);#}
{#    })();#}
{#</script>#}

