{% load static %}
<img id="preview_{{ widget.name }}" src="{{ value }}"/>
<input type="{{ widget.type }}" id="input_{{ widget.name }}" name="{{ widget.name }}"{% if widget.value != None %}
       value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>

<script type="text/javascript" src='/static/admin/js/qiniu.3.4.min.js'></script>
<script type="text/javascript" src='/static/admin/js/qiniu.js'></script>
<script>
    var input_image = document.getElementById('input_{{widget.name}}');
    var preview_img = document.getElementById('preview_{{widget.name}}');
    const observer = {
        next(res) {
            // let total = response.total;
            // $(".speed").text("进度：" + total.percent + "% ");
        },
        error(err) {
            // ...
        },
        complete(res) {
            input_image.value = `http://cdn.ztf.net.cn/${res.key}`;
            console.log("observer", res)
        }
    }
    const qiniu_token = '{{ token }}';

    input_image.addEventListener('paste', function (e) {
        if (e.clipboardData) {
            for (var i = 0; i < e.clipboardData.items.length; i++) {
                var f = e.clipboardData.files[0];
                qiniu_compress_upload(f, qiniu_token, observer);
                var reader = new FileReader();
                reader.readAsDataURL(f);
                reader.onload = function (e) {
                    preview_img.src = e.target.result;
                }
            }
        }
    });
</script>