<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>易经六十四卦详解-周易64卦图文详解完整版-周易卦象图详细解析</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots” content=" nofollow”/>
    <style type="text/css">
        {% include "yijing/yijing64/style.css" %}
        {% include "yijing/common.css" %}
    </style>
    {% include "innerHeader.html" %}
</head>
<body>

<section>
    {% include "yijing/header.html" %}
    <div class="main quanle">
        <div class="center">
            <div class="sx_address f16">
                <a href="#">周易</a> &gt;
                <a href="/fs/yijing64.html">易经64卦</a>
            </div>
            <div style="background-color: #e8270c;color: #fff;text-align: center;"> {{ data.items[0].title|safe }}</div>
            <div class="sx_split"></div>
            <div class="clear"></div>
            <div class="bazixmwp">
                {{ data.items[0].content|safe }}
            </div>
            <div class="clear"></div>
            <div class="sx_split"></div>
            <div class="clear"></div>
        </div>
    </div>
    <a href="https://m.zhouyi.cc/zhouyi/yijing64/#top">
        <div id="btn_top"></div>
    </a>
</section>
{% include "yijing/footer.html" %}
</body>
</html>