<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>易经六十四卦详解-周易64卦图文详解完整版-周易卦象图详细解析</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots” content=" nofollow”/>
    <style type="text/css">
        {% include "yijing/yijing64/style.css" %}
        {% include "yijing/common.css" %}
    </style>
    {% include "innerHeader.html" %}
</head>
<body>

<section>
    {% include "yijing/header.html" %}
    <div class="main quanle">
        <div class="center">
            <div class="sx_address f16">
                <a href="#">周易</a> &gt;
                <a href="/fs/yijing64.html">易经64卦</a>
            </div>

            <div class="sx_split"></div>
            <div class="clear"></div>
            <div class="bazixmwp">
                <div class="zhiwenzibox2">
                    {#                    <div class="bazixmtt1 cff fb t_center">六十四卦</div>#}
                    <div class="xmqmtt1 t_left f16 fb black">按上下卦组合查阅盘</div>
                    <div class="clear"></div>
                    <div class="liusigua">
                        <div class="zhlist">
                            <table class="gualist">
                                <tbody>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_zh.png" title="上下卦" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_qian.png" title="乾天" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_ze.png" title="兑泽" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_li.png" title="离火" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_zhen.png" title="震雷" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_xun.png" title="巽风" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_kan.png" title="坎水" height="72" width="50"></td>
                                    <td><img src="/static/img/yijing64/gua_geng.png" title="艮山" height="72" width="50"></td>
                                    <td class="noBBorder"><img src="/static/img/yijing64/gua_kun.png" title="坤地" height="72"
                                                               width="50"></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_qian.png" title="乾天" height="72" width="50"></td>
                                    <td><p><a href="/fs/yijing64/1.html">乾卦</a></p>
                                        <p><a href="/fs/yijing64/1.html">乾为天</a></p>
                                        <p>刚健中正</p></td>
                                    <td><p><a href="/fs/yijing64/43.html">夬卦</a></p>
                                        <p><a href="/fs/yijing64/43.html">泽天夬</a></p>
                                        <p>决而能和</p></td>
                                    <td><p><a href="/fs/yijing64/14.html">大有卦</a></p>
                                        <p><a href="/fs/yijing64/14.html">火天大有</a></p>
                                        <p>顺天依时</p></td>
                                    <td><p><a href="/fs/yijing64/34.html">大壮卦</a></p>
                                        <p><a href="/fs/yijing64/34.html">雷天大壮</a></p>
                                        <p>壮勿妄动</p></td>
                                    <td><p><a href="/fs/yijing64/9.html">小畜卦</a></p>
                                        <p><a href="/fs/yijing64/9.html">风天小畜</a></p>
                                        <p>蓄养待进</p></td>
                                    <td><a href="/fs/yijing64/5.html">需卦</a>
                                        <a href="/fs/yijing64/5.html">水天需</a>
                                        <p>守正待机</p></td>
                                    <td><a href="/fs/yijing64/26.html">大畜卦</a>
                                        <a href="/fs/yijing64/26.html">山天大畜</a>
                                        <p>止而不止</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/11.html">泰卦</a>
                                        <a href="/fs/yijing64/11.html">地天泰</a>
                                        <p>应时而变</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_ze.png" title="兑泽" height="72" width="50"></td>
                                    <td><a href="/fs/yijing64/10.html">履卦</a>
                                        <a href="/fs/yijing64/10.html">天泽履</a>
                                        <p>脚踏实地</p></td>
                                    <td><a href="/fs/yijing64/58.html">兑卦</a>
                                        <a href="/fs/yijing64/58.html">兑为泽</a>
                                        <p>刚内柔外</p></td>
                                    <td><a href="/fs/yijing64/38.html">睽卦</a>
                                        <a href="/fs/yijing64/38.html">火泽睽</a>
                                        <p>异中求同</p></td>
                                    <td><a href="/fs/yijing64/54.html">归妹卦</a>
                                        <a href="/fs/yijing64/54.html">雷泽归妹</a>
                                        <p>立家兴业</p></td>
                                    <td><a href="/fs/yijing64/61.html">中孚卦</a>
                                        <a href="/fs/yijing64/61.html">风泽中孚</a>
                                        <p>诚信立身</p></td>
                                    <td><a href="/fs/yijing64/60.html">节卦</a>
                                        <a href="/fs/yijing64/60.html">水泽节</a>
                                        <p>万物有节</p></td>
                                    <td><a href="/fs/yijing64/41.html">损卦</a>
                                        <a href="/fs/yijing64/41.html">山泽损</a>
                                        <p>损益制衡</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/19.html">临卦</a>
                                        <a href="/fs/yijing64/19.html">地泽临</a>
                                        <p>教民保民</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_li.png" title="离火" height="72" width="50"></td>
                                    <td><a href="/fs/yijing64/13.html">同人卦</a>
                                        <a href="/fs/yijing64/13.html">天火同人</a>
                                        <p>上下和同</p></td>
                                    <td><a href="/fs/yijing64/49.html">革卦</a>
                                        <a href="/fs/yijing64/49.html">泽火革</a>
                                        <p>顺天应人</p></td>
                                    <td><a href="/fs/yijing64/30.html">离卦</a>
                                        <a href="/fs/yijing64/30.html">离为火</a>
                                        <p>附和依托</p></td>
                                    <td><a href="/fs/yijing64/55.html">丰卦</a>
                                        <a href="/fs/yijing64/55.html">雷火丰</a>
                                        <p>日中则斜</p></td>
                                    <td><a href="/fs/yijing64/37.html">家人卦</a>
                                        <a href="/fs/yijing64/37.html">风火家人</a>
                                        <p>诚威治业</p></td>
                                    <td><a href="/fs/yijing64/63.html">既济卦</a>
                                        <a href="/fs/yijing64/63.html">水火既济</a>
                                        <p>盛极将衰</p></td>
                                    <td><a href="/fs/yijing64/22.html">贲卦</a>
                                        <a href="/fs/yijing64/22.html">山火贲</a>
                                        <p>饰外扬质</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/36.html">明夷卦</a>
                                        <a href="/fs/yijing64/36.html">地火明夷</a>
                                        <p>晦而转明</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_zhen.png" title="震雷" height="72" width="50"></td>
                                    <td><a href="/fs/yijing64/25.html">无妄卦</a>
                                        <a href="/fs/yijing64/25.html">天雷无妄</a>
                                        <p>无妄而得</p></td>
                                    <td><a href="/fs/yijing64/17.html">随卦</a>
                                        <a href="/fs/yijing64/17.html">泽雷随</a>
                                        <p>随时变通</p></td>
                                    <td><a href="/fs/yijing64/21.html">噬嗑卦</a>
                                        <a href="/fs/yijing64/21.html">火雷噬嗑</a>
                                        <p>刚柔相济</p></td>
                                    <td><a href="/fs/yijing64/51.html">震卦</a>
                                        <a href="/fs/yijing64/51.html">震为雷</a>
                                        <p>临危不乱</p></td>
                                    <td><a href="/fs/yijing64/42.html">益卦</a>
                                        <a href="/fs/yijing64/42.html">风雷益</a>
                                        <p>损上益下</p></td>
                                    <td><a href="/fs/yijing64/3.html">屯卦</a>
                                        <a href="/fs/yijing64/3.html">水雷屯</a>
                                        <p>起始维艰</p></td>
                                    <td><a href="/fs/yijing64/27.html">颐卦</a>
                                        <a href="/fs/yijing64/27.html">山雷颐</a>
                                        <p>纯正以养</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/24.html">复卦</a>
                                        <a href="/fs/yijing64/24.html">地雷复</a>
                                        <p>寓动于顺</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_xun.png" title="巽风" height="72" width="50"></td>
                                    <td><a href="/fs/yijing64/44.html">姤卦</a>
                                        <a href="/fs/yijing64/44.html">天风姤</a>
                                        <p>天下有风</p></td>
                                    <td><a href="/fs/yijing64/28.html">大过卦</a>
                                        <a href="/fs/yijing64/28.html">泽风大过</a>
                                        <p>非常行动</p></td>
                                    <td><a href="/fs/yijing64/50.html">鼎卦</a>
                                        <a href="/fs/yijing64/50.html">火风鼎</a>
                                        <p>稳重图变</p></td>
                                    <td><a href="/fs/yijing64/32.html">恒卦</a>
                                        <a href="/fs/yijing64/32.html">雷风恒</a>
                                        <p>恒心有成</p></td>
                                    <td><a href="/fs/yijing64/57.html">巽卦</a>
                                        <a href="/fs/yijing64/57.html">巽为风</a>
                                        <p>谦逊受益</p></td>
                                    <td><a href="/fs/yijing64/48.html">井卦</a>
                                        <a href="/fs/yijing64/48.html">水风井</a>
                                        <p>求贤若渴</p></td>
                                    <td><a href="/fs/yijing64/18.html">蛊卦</a>
                                        <a href="/fs/yijing64/18.html">山风蛊</a>
                                        <p>振疲起衰</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/46.html">升卦</a>
                                        <a href="/fs/yijing64/46.html">地风升</a>
                                        <p>柔顺谦虚</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_kan.png" title="坎水" height="72" width="50"></td>
                                    <td><a href="/fs/yijing64/6.html">讼卦</a>
                                        <a href="/fs/yijing64/6.html">天水讼</a>
                                        <p>慎争戒讼</p></td>
                                    <td><a href="/fs/yijing64/47.html">困卦</a>
                                        <a href="/fs/yijing64/47.html">泽水困</a>
                                        <p>困境求通</p></td>
                                    <td><a href="/fs/yijing64/64.html">未济卦</a>
                                        <a href="/fs/yijing64/64.html">火水未济</a>
                                        <p>事业未竟</p></td>
                                    <td><a href="/fs/yijing64/40.html">解卦</a>
                                        <a href="/fs/yijing64/40.html">雷水解</a>
                                        <p>柔道致治</p></td>
                                    <td><a href="/fs/yijing64/59.html">涣卦</a>
                                        <a href="/fs/yijing64/59.html">风水涣</a>
                                        <p>拯救涣散</p></td>
                                    <td><a href="/fs/yijing64/29.html">坎卦</a>
                                        <a href="/fs/yijing64/29.html">坎为水</a>
                                        <p>行险用险</p></td>
                                    <td><a href="/fs/yijing64/4.html">蒙卦</a>
                                        <a href="/fs/yijing64/4.html">山水蒙</a>
                                        <p>启蒙奋发</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/7.html">师卦</a>
                                        <a href="/fs/yijing64/7.html">地水师</a>
                                        <p>行险而顺</p></td>
                                </tr>
                                <tr>
                                    <td><img src="/static/img/yijing64/gua_geng.png" title="艮山" height="72" width="50"></td>
                                    <td><a href="/fs/yijing64/33.html">遁卦</a>
                                        <a href="/fs/yijing64/33.html">天山遁</a>
                                        <p>遁世救世</p></td>
                                    <td><a href="/fs/yijing64/31.html">咸卦</a>
                                        <a href="/fs/yijing64/31.html">泽山咸</a>
                                        <p>相互感应</p></td>
                                    <td><a href="/fs/yijing64/56.html">旅卦</a>
                                        <a href="/fs/yijing64/56.html">火山旅</a>
                                        <p>依义顺时</p></td>
                                    <td><a href="/fs/yijing64/62.html">小过卦</a>
                                        <a href="/fs/yijing64/62.html">雷山小过</a>
                                        <p>行动有度</p></td>
                                    <td><a href="/fs/yijing64/53.html">渐卦</a>
                                        <a href="/fs/yijing64/53.html">风山渐</a>
                                        <p>渐进蓄德</p></td>
                                    <td><a href="/fs/yijing64/39.html">蹇卦</a>
                                        <a href="/fs/yijing64/39.html">水山蹇</a>
                                        <p>险阻在前</p></td>
                                    <td><a href="/fs/yijing64/52.html">艮卦</a>
                                        <a href="/fs/yijing64/52.html">艮为山</a>
                                        <p>动静适时</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/15.html">谦卦</a>
                                        <a href="/fs/yijing64/15.html">地山谦</a>
                                        <p>内高外低</p></td>
                                </tr>
                                <tr>
                                    <td class="noBBorder">
                                        <img src="/static/img/yijing64/gua_kun.png" title="坤地" height="72"
                                             width="50"></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/12.html">否卦</a>
                                        <a href="/fs/yijing64/12.html">天地否</a>
                                        <p>不交不通</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/45.html">萃卦</a>
                                        <a href="/fs/yijing64/45.html">泽地萃</a>
                                        <p>荟萃聚集</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/35.html">晋卦</a>
                                        <a href="/fs/yijing64/35.html">火地晋</a>
                                        <p>求进发展</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/16.html">豫卦</a>
                                        <a href="/fs/yijing64/16.html">雷地豫</a>
                                        <p>顺时依势</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/20.html">观卦</a>
                                        <a href="/fs/yijing64/20.html">风地观</a>
                                        <p>观下瞻上</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/8.html">比卦</a>
                                        <a href="/fs/yijing64/8.html">水地比</a>
                                        <p>诚信团结</p></td>
                                    <td class="noBBorder"><a href="/fs/yijing64/23.html">剥卦</a>
                                        <a href="/fs/yijing64/23.html">山地剥</a>
                                        <p>顺势而止</p></td>
                                    <td class="noBBorder noRBorder"><a href="/fs/yijing64/2.html">坤卦</a>
                                        <a href="/fs/yijing64/2.html">坤为地</a>
                                        <p>柔顺伸展</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="xmqmtt1 t_left f16 fb black">按周易卦序查阅64卦</div>
                    <div class="gualist1 tip_text">
                        <ul>
                            <li><a href="/fs/yijing64/1.html">1、乾为天</a></li>
                            <li><a href="/fs/yijing64/2.html">2、坤为地</a></li>
                            <li><a href="/fs/yijing64/3.html">3、水雷屯</a></li>
                            <li><a href="/fs/yijing64/4.html">4、山水蒙</a></li>
                            <li><a href="/fs/yijing64/5.html">5、水天需</a></li>
                            <li><a href="/fs/yijing64/6.html">6、天水讼</a></li>
                            <li><a href="/fs/yijing64/7.html">7、地水师</a></li>
                            <li><a href="/fs/yijing64/8.html">8、水地比</a></li>
                            <li><a href="/fs/yijing64/9.html">9、风天小畜</a></li>
                            <li><a href="/fs/yijing64/10.html">10、天泽履</a></li>
                            <li><a href="/fs/yijing64/11.html">11、地天泰</a></li>
                            <li><a href="/fs/yijing64/12.html">12、天地否</a></li>
                            <li><a href="/fs/yijing64/13.html">13、天火同人</a></li>
                            <li><a href="/fs/yijing64/14.html">14、火天大有</a></li>
                            <li><a href="/fs/yijing64/15.html">15、地山谦</a></li>
                            <li><a href="/fs/yijing64/16.html">16、雷地豫</a></li>
                            <li><a href="/fs/yijing64/17.html">17、泽雷随</a></li>
                            <li><a href="/fs/yijing64/18.html">18、山风蛊</a></li>
                            <li><a href="/fs/yijing64/19.html">19、地泽临</a></li>
                            <li><a href="/fs/yijing64/20.html">20、风地观</a></li>
                            <li><a href="/fs/yijing64/21.html">21、火雷噬嗑</a></li>
                            <li><a href="/fs/yijing64/22.html">22、山火贲</a></li>
                            <li><a href="/fs/yijing64/23.html">23、山地剥</a></li>
                            <li><a href="/fs/yijing64/24.html">24、地雷复</a></li>
                            <li><a href="/fs/yijing64/25.html">25、天雷无妄</a></li>
                            <li><a href="/fs/yijing64/26.html">26、山天大畜</a></li>
                            <li><a href="/fs/yijing64/27.html">27、山雷颐</a></li>
                            <li><a href="/fs/yijing64/28.html">28、泽风大过</a></li>
                            <li><a href="/fs/yijing64/29.html">29、坎为水</a></li>
                            <li><a href="/fs/yijing64/30.html">30、离为火</a></li>
                            <li><a href="/fs/yijing64/31.html">31、泽山咸</a></li>
                            <li><a href="/fs/yijing64/32.html">32、雷风恒</a></li>
                            <li><a href="/fs/yijing64/33.html">33、天山遁</a></li>
                            <li><a href="/fs/yijing64/34.html">34、雷天大壮</a></li>
                            <li><a href="/fs/yijing64/35.html">35、火地晋</a></li>
                            <li><a href="/fs/yijing64/36.html">36、地火明夷</a></li>
                            <li><a href="/fs/yijing64/37.html">37、风火家人</a></li>
                            <li><a href="/fs/yijing64/38.html">38、火泽睽</a></li>
                            <li><a href="/fs/yijing64/39.html">39、水山蹇</a></li>
                            <li><a href="/fs/yijing64/40.html">40、雷水解</a></li>
                            <li><a href="/fs/yijing64/41.html">41、山泽损</a></li>
                            <li><a href="/fs/yijing64/42.html">42、风雷益</a></li>
                            <li><a href="/fs/yijing64/43.html">43、泽天夬</a></li>
                            <li><a href="/fs/yijing64/44.html">44、天风姤</a></li>
                            <li><a href="/fs/yijing64/45.html">45、泽地萃</a></li>
                            <li><a href="/fs/yijing64/46.html">46、地风升</a></li>
                            <li><a href="/fs/yijing64/47.html">47、泽水困</a></li>
                            <li><a href="/fs/yijing64/48.html">48、水风井</a></li>
                            <li><a href="/fs/yijing64/49.html">49、泽火革</a></li>
                            <li><a href="/fs/yijing64/50.html">50、火风鼎</a></li>
                            <li><a href="/fs/yijing64/51.html">51、震为雷</a></li>
                            <li><a href="/fs/yijing64/52.html">52、艮为山</a></li>
                            <li><a href="/fs/yijing64/53.html">53、风山渐</a></li>
                            <li><a href="/fs/yijing64/54.html">54、雷泽归妹</a></li>
                            <li><a href="/fs/yijing64/55.html">55、雷火丰</a></li>
                            <li><a href="/fs/yijing64/56.html">56、火山旅</a></li>
                            <li><a href="/fs/yijing64/57.html">57、巽为风</a></li>
                            <li><a href="/fs/yijing64/58.html">58、兑为泽</a></li>
                            <li><a href="/fs/yijing64/59.html">59、风水涣</a></li>
                            <li><a href="/fs/yijing64/60.html">60、水泽节</a></li>
                            <li><a href="/fs/yijing64/61.html">61、风泽中孚</a></li>
                            <li><a href="/fs/yijing64/62.html">62、雷山小过</a></li>
                            <li><a href="/fs/yijing64/63.html">63、水火既济</a></li>
                            <li><a href="/fs/yijing64/64.html">64、火水未济</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="sx_split"></div>
            <div class="clear"></div>
        </div>

    </div>
    <a href="/fs/yijing64/#top">
        <div id="btn_top"></div>
    </a>
</section>
{% include "yijing/footer.html" %}
</body>
</html>